# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
.coverage
.results.xml

# Virtual environments
.venv/
venv/

# pytest cache
.pytest_cache/

# IDE / Editor settings
.vscode/
.idea/

# AWS SAM build artifacts
.aws-sam/

# Frontend Dependencies
frontend/node_modules
